.aboutMe {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(26,26,26);
    color: white;
    overflow: auto;
}

.sectionOne {
    min-height: 880px
}

.centeredColumn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 40%;
    min-width: 460px;
    padding-left: 5%;
    padding-right: 5%;
}

.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
}

.sectionHeightNormal {
    min-height: 40vh;
    padding-top: 5vh;
}

.myPicture {
    width: 50%;
    height: 50%;
}

.flex {
    display: flex;
}

.centeredFlex {
    justify-content: center;
    align-items: center;
}

#tsparticles {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  }
  


/* Hexagon CSS --------------------------------------------------------------------------------------------------------------------------------------------------- */
.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -47px;
    transition: all .2s;
}

.hex:hover {
    transform: translate(-10px, -10px);
    transition: all .2s;
}

.hex .top .shadow {
    width: 0%;
    border-bottom: 50px solid black;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    height: 0%;
    left: 18px;
    top: 3px;
    z-index: -1;
    position: absolute;
    filter: blur(3px);
}

.hex .top {
    width: 0;
    border-bottom: 50px solid rgb(45, 43, 59);
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}

.hex .middle .shadow {
    width: 10%;
    height: 50%;
    z-index: -1;
    position: absolute;
    left: 101%;
    background: black;
    filter: blur(3px);
}

.hex .middle {
    width: 150px;
    height: 90px;
    background: rgb(45, 43, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex .bottom .shadow {
    width: 0%;
    border-top: 50px solid black;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    height: 0%;
    left: 18px;
    top: 140px;
    z-index: -1;
    position: absolute;
    filter: blur(3px);
}

.hex .bottom {
    width: 0;
    border-top: 50px solid rgb(45, 43, 59);
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}

.hex-row {
    clear: left;
}

.hex-row .even {
    margin-left: 0px;
}

.hexagon {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 459px;
}

/* End Hexagon CSS -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */