.window {
    display: flex;
    height: 70vh;
    width: 70vw;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: width 1s;
    position: absolute;
}

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: 1s width height;
}

.fullscreen {
    transform: none!important;
    width: 100%!important;
    height: 100%!important;
    z-index: 9999999;
    display: flex;
    flex-direction: column;
}

.info { 
    width: 100%;
    height: 3vh;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.infoName {
    color: black!important;
    padding-left: 0;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.infoName svg {
    color: black!important;
    width: 20%!important;
}

.childContainer {
    background-color: azure;
    display: flex;
    flex-grow: 1;
}
.actions {
    display: flex;
    width: 7vw;
    justify-content: space-around;
}

.actions div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.actions div:hover {
    background-color: gray;
    cursor: pointer;
}

.moveable-direction.moveable-nw,
.moveable-direction.moveable-ne,
.moveable-direction.moveable-sw,
.moveable-direction.moveable-se,
.moveable-control.moveable-origin {
    opacity: 0!important;
}